<main>
    <div class="koukoku">
        <%= link_to image_tag('img/advertisement.png'), "https://manabi.univcoop.or.jp/drive/gassyuku/sch.php" %>
    </div>
    <!-- <div class="yohaku"></div> -->
      <div class="kyouiku"><div class="font">
          <div class="button019"><%= link_to '教育学部', text_index_text_path(1), class: "float3 botton" %>
          </div></div></div>
      <div class="tideza"><div class="font">
          <div class="button019"><%= link_to '地域デザイン学部', text_index_text_path(2), class: "float3 botton" %></div></div></div>
      <div class="keizai"><div class="font">
          <div class="button019">          <%= link_to '経済学部', text_index_text_path(3), class: "float3 botton" %></div></div></div>
      <div class="rikou"><div class="font">
          <div class="button019">          <%= link_to '理工学部', text_index_text_path(4), class: "float3 botton" %></div></div></div>
      <div class="nougaku"><div class="font">
          <div class="button019">          <%= link_to '農学部', text_index_text_path(5), class: "float3 botton" %><div></div></div>
      <div class="kyouiku"><div class="font">
          <div class="button019"><%= link_to '全て', texts_path, class: "float3 botton" %>
          </div>
  </main>
