<% if @user.errors.any? %>
  <div class="notification is-danger">
    <h2>
      <%= pluralize(@user.errors.count, "error" ) %> prohibited this object from being saved: not successfully
    </h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
    </ul>
  </div>
  <% end %>

<main>
  <%= form_for @user do |f| %>
    <div class="description">アカウントの写真を添付して下さい！</div>

    <div class="AccountPicture">
      <div class="LeftPosition">
        <div class="AddFile button1 border-none", style="border:none;">
          <label class="AddFileButton">
            <div class="select">
              <%= f.file_field :profile_image,id: "myImage", onchange: "setImage(this);", onclick: "this.value = '';",class: "input, hide-input" %>写真を選択
            </div>
          </label>
        </div>
      </div>


      <div class="RemodelPosition">
        <div class="remodel">
          <img id="preview">
        </div>
      </div>
    </div>

    <div class="cp_iptxt">
      <label class="ef">
        <%= f.text_field :faculty, class: "input input-faculity-field" , placeholder: "学部を入力してください。" %>
      </label>
    </div>

    <div class="cp_iptxt">
      <label class="ef">
        <%= f.text_field :username, class: "input input-faculity-field" , placeholder: "氏名を入力してください。" %>
      </label>
    </div>

    <div class="AddFile button2">
      <label class="AddFileButton button3">
        <%= f.submit %>確定
      </label>
    </div>
    <% end %>
</main>
<script>
  function setImage(target) {
      var reader = new FileReader();
      reader.onload = function (e) {
          document.getElementById("preview").setAttribute('src', e.target.result);
      }
      reader.readAsDataURL(target.files[0]);
  };

</script>
