<% if @user.errors.any? %>
  <div class="notification is-danger">
    <h2>
      <%= pluralize(@user.errors.count, "error" ) %> prohibited this object from being saved: not successfully
    </h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
    </ul>
  </div>
  <% end %>

<main class="main-middle">
  <%= form_for @user do |f| %>
    <div class="description">アカウントの写真を添付して下さい！</div>

    <label class="image-item user">
      <% if @user.profile_image? %>
        <%= image_tag @user.profile_image.url, class: "image-preview", id: "preview" %>
        <% else %>
          <img id="preview" class="image-preview">
        <% end %>
      <div class="select">
        <%= f.file_field :profile_image,id: "myImage", onchange: "setImage(this);", onclick: "this.value = '';",class: "input, hide-input" %>
      </div>
    </label>

    <div class="cp_iptxt">
      <p>学部</p>
      <label class="ef">
        <%= f.text_field :faculty, class: "input input-faculity-field" , placeholder: "学部を入力してください。" %>
      </label>
    </div>

    <div class="cp_iptxt">
      <p>名前</p>
      <label class="ef">
        <%= f.text_field :username, class: "input input-faculity-field" , placeholder: "氏名を入力してください。" %>
      </label>
    </div>

    <div class="AddFile button3 user-edit-btn">
      <label class="AddFileButton button3" style="margin-right:10px;">
        <input type="button" onClick="history.back()">キャンセル
      </label>
      <label class="AddFileButton button3">
        <%= f.submit %>確定
      </label>
    </div>
    <% end %>
</main>
<script>
  function setImage(target) {
      var reader = new FileReader();
      reader.onload = function (e) {
          document.getElementById("preview").setAttribute('src', e.target.result);
      }
      reader.readAsDataURL(target.files[0]);
  };

</script>
