<main>
  <div class="koukoku">広告</div>

  <div class="toukou">
  <% @posts.each do |post| %>
    <div class="upper">
      <div class="homeicon">
        <% if post.user.profile_image? %>
        <%= image_tag post.user.profile_image.url, class: " " %>
        <% end %>
      </div>

      <div class="name">
        <%= post.user.username%>
      </div>
      <div class="post-time"><%= post.created_at.strftime('%Y/%m/%d %H:%M')%></div>
    </div>

    <% if post.image? %>
      <div class="center">
        <div class="upload">
          <%= image_tag post.image.url, class: " " %>
        </div>
      </div>
    <% end %>

    <div class="under">
      <div class="bunnsyou">
        <p><%= simple_format(post.body) %></p>
      </div>
      <ul class="heart">
        <%= link_to posts_path do %>
          <%= image_tag 'img/heart.png', class: " ",alt: "ハート" %>
        <% end %>
        <div class="toggleButton">
          <%= image_tag 'img/comment.png', class: "",alt: "コメント" %>
        </div>
      </ul>

      <%= render "comments", post: post %>

      <div class="toggle-comment">
        <%= form_for @comment do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <%= f.text_area :body, rows:'5', style: 'width: 95%;', placeholder: '投稿する内容を打ってください！' %>
          <%= f.hidden_field :post_id, :value=> post.id %>
          <label class="comment-btn">
            <%= f.submit %>確定
          </label>

        <% end %>
      </div>
    </div>
    <% end %>
  </div>




  <ul class="tweet">
    <%= link_to new_post_path do %>
      <%= image_tag 'img/tweet.png' , alt: 'tweet' , class: 'tweet' %>
    <% end %>
  </ul>
</main>
<script>
$(".toggleButton").on("click",function(){
	$(this).next().slideToggle(500)
})
</script>
