<main>
  <div class="koukoku">広告</div>

  <div class="toukou">
    <% @posts.each do |post| %>
    <div class="upper">
      <div class="homeicon">
        <% if post.user.profile_image? %>
        <%= image_tag post.user.profile_image.url, class: " " %>
        <% end %>
      </div>

      <div class="name user-name">
        <%= post.user.username%>
      </div>
      <div class="post-time"><%= time_ago_in_words(post.created_at)+"前"%></div>
    </div>

    <% if post.image? %>
      <div class="center">
        <div class="upload">
          <%= image_tag post.image.url, class: " " %>
        </div>
      </div>
    <% end %>

    <div class="under">
      <div class="bunnsyou">
        <p><%= simple_format(post.body) %></p>
      </div>
      <ul class="heart">
        <%= link_to posts_path do %>
          <%= image_tag 'img/heart.png', class: " ",alt: "ハート" %>
        <% end %>
        <div id = "like_<%= post.id %>">
          <%= render partial: "like", locals: { post: post } %>
        </div>
        <div class="toggleButton">
          <%= image_tag 'img/comment.png', class: "",alt: "コメント" %>
          <div class="comment-count"><span id="post-count-<%=post.id%>"><%= post.comments.count %></span></div>
        </div>
      </ul>
      <div class="toggle-comment">
        <div class="comment-list no-scroll smartphone" id = "post-<%= post.id %>">

          <div class="comment-height", id="comment-height-<%= post.id %>">
            <%= render "comments", post: post %>
          </div>


        </div>
        <div class="comment-under">
          <%= form_with model: @comment, class: 'comment-form', id: "comment-input-#{post.id}", local: false do |f| %>
          <% if user_signed_in?%>
            <%if current_user.profile_image? %>
              <%= image_tag current_user.profile_image.url, class: " " %>
            <% end %>
          <% end %>
          <%= render 'layouts/error_messages', model: f.object %>
            <%= f.text_field :body, class: 'comment-input', placeholder: 'コメントする' %>
            <%= f.hidden_field :post_id, :value=> post.id %>
            <label class="comment-btn">
              <%= f.submit %>送る
            </label>

          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <ul class="tweet">
    <%= link_to new_post_path do %>
      <%= image_tag 'img/tweet.png' , alt: 'tweet' , class: 'tweet' %>
    <% end %>
  </ul>
    <div class="pagenate-container">
      <%= paginate @posts %>
    </div>
  </div>
</main>

<script>


</script>
