<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TesmH</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
        integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />

      <%= stylesheet_link_tag "application" , media: "all" %>
      <%= javascript_include_tag "application" %>

      <%= javascript_importmap_tags %>
      <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>

<body>
  <nav class="TopTab">
    <ul class="box 11">
      <%= link_to '佐大ニュース' , posts_path %>
    </ul>
    <ul class="box 12">
      <%= link_to '教科書シェアリング', home_texts_path %>
    </ul>
  </nav>
  <% if flash[:notice] %>
  <div class="notification-wrapper">
    <div class="notification is-info">
      <div class="notice">
        <%= notice %>
      </div>
    </div>
  </div>
  <% end %>
  <% if flash[:alert] %>
  <div class="notification-wrapper">
    <div class="notification is-danger">
      <div class="alert">
        <%= alert %>
      </div>
    </div>
  </div>
  <% end %>
  <%= yield %>

    <ul class="underTab">
      <%= link_to root_path do %>
        <%= image_tag 'img/home.png' , alt: 'home' %>
          <% end %>
            <a href="KeijibanSearch.html">
              <%= image_tag 'img/search.png' , alt: 'seach' %>
            </a>
            <a href="KeijibanNotice.html">
              <%= image_tag 'img/notice.png' , alt: 'notice' %>
            </a>
            <%= link_to rooms_path do %>
              <%= image_tag 'img/DM.png' , alt: 'display' %>
            <% end %>
            <% if user_signed_in? %>
              <%= link_to user_path(current_user) do%>
                <%=image_tag 'img/account.png' , alt: 'account' %>
                  <% end %>
                    <% end %>
    </ul>
</body>

</html>
